<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [152]:
import pandas as pd

In [153]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [154]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [155]:
print(data[data['sex'] == 'Female']['age'].mean())

36.85823043357163

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [156]:
print((data['native-country'] == 'Germany').mean())

0.004207487485028101

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [157]:
print(data.groupby('salary')['age'].agg(['mean', 'std']))

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [158]:
hi_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
answer = data[data['salary'] == '>50K']['education'].isin(hi_education).all()
print(answer)

False

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [159]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)
print("The maximum age of men of the Amer-Indian-Eskimo race", age_stats.loc[('Amer-Indian-Eskimo', 'Male')]['max'])

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
The maximum age of men of the Amer-Indian-Eskimo race 82.0

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [160]:
data['is_married'] = data['marital-status'].apply(lambda x: x.startswith('Married'))
male_data = data[data['sex'] == 'Male']
rich_men_proportion = male_data[male_data['salary'] == '>50K']['is_married'].value_counts(normalize=True)

print('Married  :', rich_men_proportion[True])
print('Unmarried:', rich_men_proportion[False])

Married  : 0.8953767637346143
Unmarried: 0.10462323626538576

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [161]:
max_hours_per_week = data.describe()['hours-per-week']['max']
print('Max hours per week ', max_hours_per_week)
people_max_hours = data[data['hours-per-week'] == max_hours_per_week]
print("Count of people who work the maximum number of hours:", people_max_hours.shape[0])
print("Procent of rich people: ", (people_max_hours['salary'] == '>50K').mean() * 100)

Max hours per week  99.0
Count of people who work the maximum number of hours: 85
Procent of rich people:  29.411764705882355

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [162]:
average_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack()
average_hours.columns = ['Poor (<=50K)', 'Rich (>50K)']
print(average_hours)

                            Poor (<=50K)  Rich (>50K)
native-country
?                              40.164760    45.547945
Cambodia                       41.416667    40.000000
Canada                         37.914634    45.641026
China                          37.381818    38.900000
Columbia                       38.684211    50.000000
Cuba                           37.985714    42.440000
Dominican-Republic             42.338235    47.000000
Ecuador                        38.041667    48.750000
El-Salvador                    36.030928    45.000000
England                        40.483333    44.533333
France                         41.058824    50.750000
Germany                        39.139785    44.977273
Greece                         41.809524    50.625000
Guatemala                      39.360656    36.666667
Haiti                          36.325000    42.750000
Holand-Netherlands             40.000000          NaN
Honduras                       34.333333    60.000000
Hong                           39.142857    45.000000
Hungary                        31.300000    50.000000
India                          38.233333    46.475000
Iran                           41.440000    47.500000
Ireland                        40.947368    48.000000
Italy                          39.625000    45.400000
Jamaica                        38.239437    41.100000
Japan                          41.000000    47.958333
Laos                           40.375000    40.000000
Mexico                         40.003279    46.575758
Nicaragua                      36.093750    37.500000
Outlying-US(Guam-USVI-etc)     41.857143          NaN
Peru                           35.068966    40.000000
Philippines                    38.065693    43.032787
Poland                         38.166667    39.000000
Portugal                       41.939394    41.500000
Puerto-Rico                    38.470588    39.416667
Scotland                       39.444444    46.666667
South                          40.156250    51.437500
Taiwan                         33.774194    46.800000
Thailand                       42.866667    58.333333
Trinadad&Tobago                37.058824    40.000000
United-States                  38.799127    45.505369
Vietnam                        37.193548    39.200000
Yugoslavia                     41.600000    49.500000